{% extends 'base.html' %}

{% block content %}

<h3>About Car Classifier Demo</h3>
<h4>About</h4>
<p>
    This is a demo site of final project for course Computer Architecture (COEN 210) Fall 2017, Santa Clara University.
</p>
<h4>Contributors</h4>
<p>
    <ul class="list-group">
        <li class="list-group-item"><a href="https://www.ly2314.cc">ly2314 (Ting-Yuan Hsia)</a></li>
        <li class="list-group-item"><a href="https://github.com/JeffChern">Jeff Chen</a></li>
    </ul>
</p>
<h4>Source Code</h4>
<p>
    <ul class="list-group">
        <li class="list-group-item"><a href="https://github.com/ly2314/NotHotdog-Classifier">ly2314/NotHotdog-Classifier</a></li>
        <li class="list-group-item"><a href="https://github.com/ly2314/CarIdentifier-Web">ly2314/CarIdentifier-Web</a></li>
    </ul>
</p>

{% endblock %}