{% extends 'base.html' %}

{% block content %}

{% for item in images %}
<div class="d-flex align-self-center p-2">
    <div class="p-2">
        <a href="{{ item.source }}" data-lightbox="classified-image">
            <img src="{{ item.source }}" class="img-thumbnail rounded" style="max-width:200px;"/>
        </a>
    </div>
    <div class="p-2" style="flex-grow: 1;">
        <ul class="list-group">
            <li class="list-group-item">
                {% if item.is_car %}
                Prediction: This is a car.
                {% else %}
                Prediction: This is not a car.
                {% endif %}
            </li>
            <li class="list-group-item">
                {% if item.correct %}
                Feedback: Prediction is correct.
                {% else %}
                Feedback: Prediction is wrong.
                {% endif %}
            </li>
        </ul>
    </div>
</div>
{% endfor %}

{% load static %}
<script src="{% static "lightbox/js/lightbox-plus-jquery.min.js" %}"></script>
<link rel="stylesheet" href="{% static "lightbox/css/lightbox.min.css" %}">

{% endblock %}